.Url-Form {
  position: absolute;
  width: 370px;
  height: 295px;
  left: 868px;
  top: 138px;
  }

  .Input-Form {
    font-family: Arial;
    font-size: larger;
    width: 370px;
    height: 61.46px;
    background: #FFFFFF;
    border: 1.5px solid #DCDCE6;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 10px;
  }

  .Buton-Ok{
    width: 370px;
    height: 61.46px;
    background: rgba(16, 18, 68, 0.94);
    border-radius: 8px;
    color: #FFFFFF;
    margin: 10px;
  }

  .Label{
    font-family: Arial;
    color: rgba(16, 18, 68, 0.94);
    margin: 10px;
  }