.App {
  background-color: rgba(251, 213, 213, 0.04);
  align-items: center;
  position: relative;
}

.Logo{
  font-family: Impact;
  position: absolute;
  width: 576px;
  height: 220px;
  left: 98px;
  top: 175px;
}
